
.movie-edit-form div {
    margin: 12px;
}

.movie-edit-form #submit {
    width: 80px;
    height: 30px;

}

.movie-edit-form label {
    margin-right: 6px;
}


.movie-edit-form #title {
    width: 300px;
}

.movie-edit-form #rating {
    width: 40px;
}

.movie-edit-form #runTime {
    width: 40px;
}

.movie-edit-form #message-box {
    color:firebrick;
    font-size: 16px;
    margin-left: 20px;
    
    
}