

.edit-customer {
    margin-left: 20px;
    width: 400px;
}

.form-customer {
    margin-left: 6px;
    margin-right: 6px;
}

.form-customer label {
    margin-right: 16px;
}

.form-customer input {
    float: right;
    width: 250px;
}

.input {
    float: right;
    width: 250px;
    background-color: azure;
    padding: 2px;
    overflow: hidden;
    
}