

.edit-customer {
    margin-left: 20px;
    width: 350px;
}

.form-customer {
    margin-left: 6px;
    margin-right: 6px;
}

.form-customer label {
    margin-right: 16px;
}

.form-customer input {
    float: right;
    width: 220px;
}